<mat-menu #infosMenu="matMenu">
  <button
    *ngFor="let info of electionsInfos"
    (click)="navigateTo(info)"
    mat-menu-item>
    {{ info.name }}
  </button>
</mat-menu>

<mat-toolbar color="primary" class="mat-elevation-z3">

  <button class="spaced menuItem"
          mat-button
          (click)="navigateToHome()"
          matTooltip="נווט לדף הבית">
    <mat-icon>home</mat-icon>
  </button>
  <button class="spaced menuItem"
          mat-button
          [matMenuTriggerFor]="infosMenu"
          matTooltip="בחר מערכת בחירות">
    בחירות
  </button>

</mat-toolbar>

<div [hidden]="!atHome" class="text-center">

  <br />

  <h1> אתר לניתוח הבחירות הישראליות </h1>

  <h6>
    האתר הזה כולל ניתוח של שלושת מערכות הבחירות האחרונות שכידוע הסתיימו ללא הכרעה
  </h6>

  <footer>
    <hr>

    <small>
      <a href="https://github.com/TheMulti0/">
        מאת TheMulti0
      </a>

      <br />
      <br />

      <a href="https://github.com/TheMulti0/elections">
        קוד האתר פתוח לחלוטין
      </a>

    </small>
  </footer>

</div>

<br />

<div [hidden]="atHome">
  <app-results #results [$electionsInfos]="$electionsInfos"></app-results>
  <router-outlet></router-outlet>
</div>

<br />
