<mat-menu #infosMenu="matMenu">
  <button
    *ngFor="let info of electionsInfos"
    (click)="navigateTo(info)"
    mat-menu-item>
    {{ info.name }}
  </button>
</mat-menu>

<mat-toolbar class="mat-elevation-z3">

  <button class="spaced menuItem"
          mat-button
          (click)="navigateToHome()"
          matTooltip="נווט לדף הבית">
    <mat-icon>home</mat-icon>
  </button>
  <button class="spaced menuItem"
          mat-button
          [matMenuTriggerFor]="infosMenu"
          matTooltip="בחר מערכת בחירות">
    בחירות
  </button>

</mat-toolbar>

<br />

<div [hidden]="atHome">
  <app-results #results [$electionsInfos]="$electionsInfos"></app-results>
  <router-outlet></router-outlet>
</div>

<br />
