<div class="text-right">

    <mat-form-field>
        <mat-select placeholder="Poll" [(value)]="selectedPollViewModel">
            <mat-option *ngFor="let model of pollViewModels" [value]="model">
                {{ model.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <ngx-charts-bar-vertical *ngIf="selectedPollViewModel" [view]="view" [scheme]="colorScheme" [results]="selectedPollViewModel.chartValues"
        [showXAxisLabel]="true" [showYAxisLabel]="true">
    </ngx-charts-bar-vertical>

</div>